.h1-default {
  opacity: 0;
}

.show {
  opacity: 0.8;
  transition: opacity 2s;
}

.msg-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  button {
    margin-bottom: 0 !important;
  }
  h3 {
    padding: 0;
    margin-bottom: 0 !important;
  }
}
