<div class="container">
  <h1>{{title}}</h1>

  <div class="form-group mb-3">
    <label class="mb-2" for="">Please, enter your name</label>
    <input id="inText" class="form-control" [(ngModel)]="name">
    <!-- <div *ngIf="name == null">
      <span>type in name</span>
    </div> -->
  </div>
  <button class="btn btn-success mb-5" (click)="add()"> Add </button>
  <h1 class="alert alert-danger h1-default" [class.show]="showH1"> Welcome{{name}} =) </h1>
  <h1 class="alert alert-danger h1-default" [class.show]="showError"> Name required! </h1>
  <table class="table">
    <tr *ngFor="let v of vetor; let i=index">
      <td>{{i}}</td>
      <td>{{v}}</td>
      <td> <button class="btn btn-outline-danger" (click)="remove(i)">X</button></td>

    </tr>
  </table>

</div>